
*{
    padding: 0 0 0 0;
    box-sizing: border-box;
    margin: 0 0 0 0;
}
body{
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;

}
.container{
    margin: auto;
    width:500px;
    max-width: 100%;
       height: 100%;
    width: 500px;
    background-color: white;
    padding:20px;
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(25, 25, 25, 0.1);
    
}
.container h1{
    margin-bottom: 20px;
    font-family: sans-serif;
    text-align: center;
}
.container .formiop{
    font-size: small;
    color: silver;
    font-weight: 300;
}


.container .form-component{
    padding:0 10px;
    height: 40px;
    background-color: #fff;
    width: 92%;
    float: right;
    border:2px solid darkgrey;
    border-radius: 4px;
    margin: 10px 0 4px 0;
}
.container .form-button{
    float: right;
}

.container .form-compon{
    padding:0 10px;
    height: 40px;
    background-color: #fff;
    width: 92%;
    float: right;
    border:2px solid darkgrey;
    border-radius: 4px;
    margin: 10px 0 4px 0;
}
.container .form-button #signin{
    background-color: rgb(71, 71, 223);
    color: #fff;
    font-weight: 300;
    font-size: 90%;
    border-radius: 4px;
    padding: 10px;
}
.container .form-button #cancel{
    background-color: darkgray;
    color: #fff;
    font-weight: 300;
    font-size: 90%;
    border-radius: 4px;
    padding: 10px;
    
}
.container .formbutton{
    float: right;
    font-size: 30px;
    background-color: transparent;
    margin:0;
    text-decoration: none;
    padding: 0;
}
